.navbar {
  border-bottom: 1px solid #adadad;
  background-color: #FFFFFF;
}

em {
  font-style: normal;
  font-weight: bold;
  background-color: rgba(204, 76, 33, 0.39);
}

/*
 |--------------------------------------------
 | Twitter Typeahead Styles
 |--------------------------------------------
 */

.twitter-typeahead {
  width: 100%;
}

.tt-menu {
  width: 100%;
  position: relative;
  z-index: 2;
  border: 1px solid #e3e3e3;
  max-height: 230px;
  overflow-y: auto;
}

.tt-hint {
  color: #b8b8b8;
}

.tt-suggestion {
  padding: 15px 8px;
  background-color: white;
  border-bottom: 1px solid #e3e3e3;
}

.tt-suggestion:hover {
  cursor: pointer;
  background-color: #f6f6f6;
}

.tt-suggestion h4 {
  margin: 0;
  padding: 0;
}

.tt-cursor {
  background-color: #f6f6f6;
}

.title {
  text-align: center;
  font-size: 82px;
  font-weight: 100;
  color: #2f2f2f;
}

.small-container {
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
  padding: 10px 5px;
}

.gallery .gallery__image {
  position: relative;
  padding: 15px;
}

.gallery .gallery__image img {
  width: 100%;
  height: auto;
}

html,
body {
  padding-top: 50px;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-weight: 400;
}